.card {
  box-shadow: 0 0 3px gray;

  .header {
    background: #085d02;
    color: white;
  }

  * {
    margin: 0;
    padding: 10px;
  }

  .footer {
    background: #12067b;
    color: white;
  }
}
